<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated genDSL2 -->
      <package
            uri="http://www.example.org/genDSL2"
            class="genDSL2.GenDSL2Package"
            genModel="model/genDSL2.genmodel"/>
   </extension>

</plugin>
